.LandingPage {
  background-color: aqua;
}
h1{
  border-bottom-style: solid;
  text-align: center;
  background-color: lightgreen;
  margin: 0px;
}
.Tab1{
  float: left;
  border-style: solid;
  border-top-style: none;
  margin-left:.25%;
  width: 49%;
  text-align: center;
}
.Tab2{
  float:left;
  border-style: solid;
  border-top-style:none;
  width: 49%;
  text-align: center;
}
