.Map {
  width: 100%;
  height: 100%;
}

.LocationPin {
  //display: flex;
  // //align-items: center;
  width: 5px;
  // height: 20px;
  // color: var(--main-blue);
  position: absolute;
  transform: translate(-23%, -85%);
}

.LocationPin__icon {
  font-size: .5rem;
}

.LocationPin__text {
  font-size: 1.3em;
}

@media screen and (min-width: 799px) {
  .Map {
    height: 80vh;
  }

  .LocationPin {
    width: 15vw;
  }

  .LocationPin__icon {
    font-size: 10vw;
  }
}
