.Map {
  width: 100%;
  height: 100%;
}

.LocationPin {
  //color: var(--main-blue);
  position: absolute;
  transform: translate(-33%, -85%);
}

.LocationPin__icon1 {
  color: red;
  font-size: 5rem;
}

.LocationPin__icon2 {
  color: blue;
  font-size: 5rem;
}

.LocationPin__text {
  font-size: 1.3em;
}

@media screen and (min-width: 799px) {
  .Map {
    height: 80vh;
  }

  .LocationPin {
    width: 15vw;
  }

  .LocationPin__icon {
    font-size: 8vw;
  }
}
